body {
  margin: 0;
  font-family: 'Segoe UI';
}

#header {
  padding: 30px 15px;
  background-color: black;
  color: white;
}

#header div {
  display: inline-block;
  width: 75%;
  vertical-align: bottom;
}

#header .second {
  text-align: right ;
  width: 24%;
}

#header p, h1 {
  margin: 0px;
}

.hipervinculos ul {
  /*Para eliminar bullets*/
  list-style-type: none;

  /*Color de fondo*/
  background-color: #01b1f7;

  /*Para que no haya lineas entre foto y fondo negro*/
  margin: 0;
  padding: 0;
  
  /*Alinear links al centro*/
  text-align: center;
}

#pd {
  background-color: black;
  color: aliceblue;
}

.hipervinculos li {
  /*Para que esten uno al lado del otro*/
  display: inline-block;
}

.hipervinculos a {
  /*color del texto*/
  color: white;

  /*Tamaño del fondo, que corra con la pagina*/
  padding: 14px 16px;
  display: block;

  /*Para eliminar formato de link*/
  text-decoration: none;

  transition: background-color 0.3s ease-in;
}

.hipervinculos a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  background-color: aliceblue;
  color: black;
}

.pri {
  text-align: center;
}

.fecha {
  background-color: black;
  color: white;
  width: 10%;
}

.actividad ul {
  padding: 0;
  text-align: center;
}

.actividad li{
  display: inline-block;
}

.actividad img {
  height: 300px;
}

.actividad h1 {
  text-align: center;
}

.actividad h2 {
  text-align: justify;
  padding: 20px;
}

.numero {
  font-size: 70px;
}

.head div {
  display: inline-block;
  vertical-align: bottom;
}

.titu {
  font-size: 40px;
}

#volver {
  text-decoration: none;
  color: black;
  transition: all 0.45s;
  font-size: 25px;
  margin: 0 47.55%;
}

#volver:hover {
  color: #01b1f7;
  border-bottom: 3px solid #01b1f7;
}

footer {
  background-color: #01b1f7;
  color: white;
  margin: 0, auto;
  text-align: center;
  font-family: "segoe ui";
}

.footer-bottom div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 15px 80px 15px;
}

.footer-bottom ul {
   list-style-type: none;
   padding-left: 0;
}

.footer-bottom a {
  text-decoration: none;
  display: block;
  color: white;
  transition: all 0.45s;
}

#rafael-footer {
  vertical-align: bottom;
  padding-bottom: 0px;
}

#rafael-footer img {
  height: 150px;
}

footer p {
  padding: 5px 0 10px;
  margin: 0;
  background-color: black;
}

footer a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  color: black;
}