body {
  /*Para que no se vea borde vacio en la página*/
  margin: 0;

  /*Tipo de texto de toda la página*/
  font-family: 'segoe ui';
}

#fotos-header {
  /*Imagen de fondo*/
  background-image: url(../edificio-escuela.jpg);

  /*definir extensión del cuadro azul transparente*/
	padding: 250px 100px;
	
  /*Para que la imagen se centralice al achicar la ventana*/
  background-position: center center;

  /*Para que la imagen se ajuste al espacio en la página*/
	background-size: cover;

	/*Para que la imagen siempre sea del mismo tamaño que el cuadro azul transparente*/
	position: relative;
}

#fotos-header:before {
  /*Para que se muestre enfrente de la imagen*/
	content:'';
	position: absolute;

  /*De donde a donde llega el cuadro transparente azul*/
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;

  /*Color del cuadro transparente*/
	background-color: #01b1f770;
}

#fotos-header p {
  /*Tamaño y color del texto*/
	font-size: 40px;
	color: #fff;

  /*Para que se muestre al frente de todo*/
  position: relative;

  /*Para que las dos líneas de texto queden pegadas verticalmente*/
  margin: 0;
}

.hipervinculos ul {
  /*Para eliminar bullets*/
  list-style-type: none;

  /*Color de fondo*/
  background-color: #01b1f7;

  /*Para que no haya lineas entre foto y fondo negro*/
  margin: 0;
  padding: 0;
  
  /*Alinear links al centro*/
  text-align: center;
}

.hipervinculos li {
  /*Para que esten uno al lado del otro*/
  display: inline-block;
}

.hipervinculos a {
  /*color del texto*/
  color: white;

  /*Tamaño del fondo, que corra con la pagina*/
  padding: 14px 16px;
  display: block;

  /*Para eliminar formato de link*/
  text-decoration: none;
}

.hipervinculos a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  background-color: aliceblue;
  color: black;
}

header h2 {
  /*Color de texto y fondo*/
  color: white;
  background-color: black;

  /*Para que quede pegado a los links*/
  margin: 0;

  /*Altura y ancho del fondo*/
  width: 100%;
  heigth: 50px;
}

.oportunidades {
  /*Centralizar el texto de todas las etiquetas dentro de esta*/  
  text-align: center;
}


.fila img {
  /*Imagenes no se salgan del cuadrado*/
  width: 80%;
}

.column {
  /*Para que cuadros estén en una misma fila*/  
  display:inline-block;

  /*El espacio en blanco entre los cuadros*/
  padding: 0 90px 60px;

  /*Alineamiento de los cuadros verticalmente*/
  vertical-align: middle;
}

.card {
  /* Añade el efecto "cuadrado"*/ 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  background-color: whitesmoke;

  /*Controla el tamaño del cuadrado*/
  padding: 16px 30px;

  /*Controla el espacio donde se puede ubicar el contenido del cuadrado*/
  height: 250px; 
  width: 200px;
}

.card:hover {
  background-color: #01b1f7;
  color: whitesmoke;
}
#fotos-body {
  /*Centralizar titulo*/
  text-align: center;

  /*Imagen de fondo*/
  background-image: url(../columns.jpg);

  /*definir extensión del cuadro azul transparente*/
	padding: 90px 100px;
	
  /*Para que la imagen se centralice al achicar la ventana*/
  background-position: center center;

  /*Para que la imagen se ajuste al espacio en la página*/
	background-size: cover;

	/*Para que la imagen siempre sea del mismo tamaño que el cuadro azul transparente*/
	position: relative;
}

#fotos-body:before {
	/*Para que se muestre enfrente de la imagen*/
  content:'';
  position: absolute;
  
  /*De donde a donde llega el cuadro transparente azul*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  /*Color del cuadro transparente*/
  background-color: #01b1f770;
}

#fotos-body p {
  /*Formato del texto*/
	font-size: 20px;
	color: white;
  text-align: justify;

  /*Este al frente de todo*/
  position: relative;

  /*Eliminar espacio de margenes*/
  margin: 0;
}

#fotos-body h1 {
  /*Color del texto*/
  color: white;

  /*Este al frente de todo*/
  position: relative;
}

.objetivos h2 {
  background-color: #01b1f7;
  width: 400px;
  padding: 20px 15px;
  color: white;
  text-align: right;
}

.objetivos p {
  font-size: 20px;
}

.objetivos ul {
  padding: 0;
}

.objetivos li {
  background-color: #01b1f7;
  color: white;
  
  padding: 20px 15px;
  list-style-type: none;
  margin: 10px 0;
  font-size: 20px;
}







.ubicacion h2 {
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
  width: 100%;
  padding: 15px 0;
}

.ubicacion iframe {
  width: 100%;
  height: 440px;
  border: 0px;
}

footer {
  background-color: #01b1f7;
  color: white;
  margin: 0, auto;
  text-align: center;
  font-family: "segoe ui";
}

.footer-bottom div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 15px 80px 15px;
}

.footer-bottom ul {
   list-style-type: none;
   padding-left: 0;
}

.footer-bottom a {
  text-decoration: none;
  display: block;
  color: white;
}

#rafael-footer {
  vertical-align: bottom;
  padding-bottom: 0px;
}

#rafael-footer img {
  height: 150px;
}

footer p {
  padding: 5px 0 10px;
  margin: 0;
  background-color: black;
}*/