body {
  margin: 0;
  font-family: 'Segoe UI';
}

#header {
  padding: 30px 15px;
  background-color: black;
  color: white;
}

#header div {
  display: inline-block;
  width: 75%;
  vertical-align: bottom;
}

#header .second {
  text-align: right ;
  width: 24%;
}

#header p, h1 {
  margin: 0px;
}

.hipervinculos ul {
  /*Para eliminar bullets*/
  list-style-type: none;

  /*Color de fondo*/
  background-color: #01b1f7;

  /*Para que no haya lineas entre foto y fondo negro*/
  margin: 0;
  padding: 0;
  
  /*Alinear links al centro*/
  text-align: center;
}

#pd {
  background-color: black;
  color: aliceblue;
}

.hipervinculos li {
  /*Para que esten uno al lado del otro*/
  display: inline-block;
}

.hipervinculos a {
  /*color del texto*/
  color: white;

  /*Tamaño del fondo, que corra con la pagina*/
  padding: 14px 16px;
  display: block;

  /*Para eliminar formato de link*/
  text-decoration: none;

  transition: background-color 0.3s ease-in;
}

.hipervinculos a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  background-color: aliceblue;
  color: black;
}

.pri {
  text-align: center;
}



.fila {
  padding: 0 20px;
}

.fila p {
  font-size: 18px;
  text-align: justify;
}

.column {
  display: inline-block;
  vertical-align: bottom;
  padding: 0 20px;
}

.column h3{
  margin: 0;
  font-size: 30px;
  
}

.fila img {
  width: 150px;
}


.card {
  /* Añade el efecto "cuadrado"*/ 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  background-color: whitesmoke;

  /*Controla el tamaño del cuadrado*/
  padding: 16px 30px;

  /*Controla el espacio donde se puede ubicar el contenido del cuadrado*/
  height: 30%; 
  width: 90%;

  margin: 60px 0 60px 3%;

 text-align: center;
}

h5 a {
  text-decoration: none;
  color: black;
}

h5 a:hover {
  color: #01b1f7;
}

footer {
  background-color: #01b1f7;
  color: white;
  margin: 0, auto;
  text-align: center;
  font-family: "segoe ui";
}

.footer-bottom div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 15px 80px 15px;
}

.footer-bottom ul {
   list-style-type: none;
   padding-left: 0;
}

.footer-bottom a {
  text-decoration: none;
  display: block;
  color: white;
  transition: all 0.45s;
}

#rafael-footer {
  vertical-align: bottom;
  padding-bottom: 0px;
}

#rafael-footer img {
  height: 150px;
}

footer p {
  padding: 5px 0 10px;
  margin: 0;
  background-color: black;
}

footer a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  color: black;
}