body {
  margin: 0;
  font-family: 'Segoe UI';
}

img {
  filter: blur(6px);
}

.hipervinculos ul {
  /*Para eliminar bullets*/
  list-style-type: none;

  /*Color de fondo*/
  background-color: #01b1f7;

  /*Para que no haya lineas entre foto y fondo negro*/
  margin: 0;
  padding: 0;
  
  /*Alinear links al centro*/
  text-align: center;
}

#pd {
  background-color: aliceblue;
  color: black;
}

.hipervinculos li {
  /*Para que esten uno al lado del otro*/
  display: inline-block;
}

.hipervinculos a {
  /*color del texto*/
  color: white;

  /*Tamaño del fondo, que corra con la pagina*/
  padding: 14px 16px;
  display: block;

  /*Para eliminar formato de link*/
  text-decoration: none;
}

.hipervinculos a:hover {
  /*Cambia de color de texto y fondo cuando el cursor esta encima*/
  background-color: aliceblue;
  color: black;
}

footer {
  background-color: #01b1f7;
  color: white;
  margin: 0, auto;
  text-align: center;
  font-family: "segoe ui";
}

.footer-bottom div {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 15px 80px 15px;
}

.footer-bottom ul {
   list-style-type: none;
   padding-left: 0;
}

.footer-bottom a {
  text-decoration: none;
  display: block;
  color: white;
}

#rafael-footer {
  vertical-align: bottom;
  padding-bottom: 0px;
}

#rafael-footer img {
  height: 150px;
}

footer p {
  padding: 5px 0 10px;
  margin: 0;
  background-color: black;
}*/